<div class="section-brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carousel">
          <div class="brands-container">
            <button class="previous-button brands-buttons btn-main">
              <i class="fa fa-angle-left"></i>
            </button>
            <div class="brands-images">
              <div class="carousel-cell" id="carousel-cell1">
                <img class="brands-image" src="images/brands/logo1.jpg" />
              </div>
              <div class="carousel-cell" id="carousel-cell2">
                <img class="brands-image" src="images/brands/logo2.png" />
              </div>
              <div class="carousel-cell" id="carousel-cell3">
                <img class="brands-image" src="images/brands/logo3.png" />
              </div>
              <div class="carousel-cell" id="carousel-cell4">
                <img class="brands-image" src="images/brands/logo4.png" />
              </div>
              <div class="carousel-cell" id="carousel-cell5">
                <img class="brands-image" src="images/brands/logo5.jpg" />
              </div>
              <div class="carousel-cell" id="carousel-cell6">
                <img class="brands-image" src="images/brands/logo6.png" />
              </div>
            </div>
            <button class="next-button brands-buttons btn-main">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
