<div class="section-brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carousel">
          <div class="brands-images">
            <button class="previous-button brands-buttons btn-main">
              <i class="fa fa-angle-left"></i>
            </button>
            <div class="carousel-cell" id="carousel-cell1">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <div class="carousel-cell" id="carousel-cell2">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <div class="carousel-cell" id="carousel-cell3">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <div class="carousel-cell" id="carousel-cell4">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <div class="carousel-cell" id="carousel-cell5">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <div class="carousel-cell" id="carousel-cell6">
              <img class="brands-image" src="images/logo.png" />
            </div>
            <button class="next-button brands-buttons btn-main">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
