<section class="container">
  <div class="panel-bar">
    <div class="row no-gutters align-items-end overwritten">
      <div class="col-auto heading"><h3>client feedback</h3></div>
      <div class="col"></div>
    </div>
  </div>
  <div
    class="carousel"
    data-flickity="{ &quot;freeScroll&quot;: true, &quot;contain&quot;: true, &quot;prevNextButtons&quot;: false, &quot;pageDots&quot;: true}"
  >
    <div id="first-slide" class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <div class="client-info">
          <p class="name">John Smith</p>
          <p class="who-is-he">Furniture client</p>
        </div>
      </div>
    </div>
    <div id="second-slide" class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <div class="client-info">
          <p class="name">Gregory Watson</p>
          <p class="who-is-he">Furniture client</p>
        </div>
      </div>
    </div>
    <div id="third-slide" class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <div class="client-info">
          <p class="name">Micheal Jordan</p>
          <p class="who-is-he">Furniture client</p>
        </div>
      </div>
    </div>
  </div>
</section>
