<section class="feedback">
  <header>
    <h1>client feedback</h1>
    <div class="border"><div class="orange"></div></div>
  </header>
  <div
    class="carousel"
    data-flickity="{ &quot;freeScroll&quot;: true, &quot;contain&quot;: true, &quot;prevNextButtons&quot;: false, &quot;pageDots&quot;: true,&quot;autoPlay&quot;: 3500}"
  >
    <div class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <p class="name">John Smith</p>
        <p class="who-is-he">Furniture client</p>
      </div>
    </div>
    <div class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <p class="name">John Smith</p>
        <p class="who-is-he">Furniture client</p>
      </div>
    </div>
    <div class="carousel-cell">
      <i class="fas fa-quote-right"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, modi placeat
        ducimus, corrupti aliquid quia eveniet commodi odio nisi labore impedit!
        Officiis pariatur repudiandae praesentium deleniti esse. Rem, beatae culpa.
      </p>
      <div class="client">
        <div class="avatar"></div>
        <p class="name">John Smith</p>
        <p class="who-is-he">Furniture client</p>
      </div>
    </div>
  </div>
</section>
