<footer class="footer-container">
  <section class="menu-wrapper">
    <div class="container info-container">
      <div class="info-wrapper">
        <h1>information</h1>
        <p><a class="info-link" href="#">About as</a></p>
        <p><a class="info-link" href="#">Policy</a></p>
        <p><a class="info-link" href="#">Conditions</a></p>
        <p><a class="info-link" href="#">Online support</a></p>
      </div>
      <div class="info-wrapper">
        <h1>my account</h1>
        <p><a class="info-link" href="#">About as</a></p>
        <p><a class="info-link" href="#">Policy</a></p>
        <p><a class="info-link" href="#">Conditions</a></p>
        <p><a class="info-link" href="#">Online support</a></p>
      </div>
      <div class="info-wrapper">
        <h1>information</h1>
        <p><a class="info-link" href="#">About as</a></p>
        <p><a class="info-link" href="#">Policy</a></p>
        <p><a class="info-link" href="#">Conditions</a></p>
        <p><a class="info-link" href="#">Online support</a></p>
      </div>
      <div class="info-wrapper">
        <h1>orders</h1>
        <p><a class="info-link" href="#">About as</a></p>
        <p><a class="info-link" href="#">Policy</a></p>
        <p><a class="info-link" href="#">Conditions</a></p>
        <p><a class="info-link" href="#">Online support</a></p>
      </div>
    </div>
  </section>
  <section class="payment-methods">
    <div class="container cards-container">
      <div class="cards"><img src="/images/cards.png" alt="payment methods" /></div>
    </div>
  </section>
  <section class="copyright-and-social-media">
    <div class="copyright"><h2>©Copyright 2016 Bazar | All Rights Reserved</h2></div>
    <div class="social-media">
      <i class="fab fa-twitter"></i> <i class="fab fa-facebook"></i>
      <i class="fab fa-youtube"></i> <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-linkedin-in"></i> <i class="fab fa-pinterest-p"></i>
    </div>
  </section>
</footer>
